.navbar {
    background-color: white;
    padding: 15px 0;
    transition: all 0.3s;
    color: black;
}

 .brand-logo {
     font-family: 'Brush Script MT', cursive;
     font-size: 28px;
     letter-spacing: 1px;
 }

 .brand-logo:hover {
     color: #4e4b4b;
 }


.nav-link {
    margin: 0 10px;
    font-weight: 500;
    transition: all 0.3s;
}

.nav-link:hover {
    color: rgb(177, 169, 169) !important;
    transform: translateY(-2px);
}
/* Hide close icon by default */
.navbar-toggler .navbar-toggler-icon-close {
  display: none;
}

/* Show close icon when expanded */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-open {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-close {
  display: inline-block;
}