body {
    overflow-x:hidden;
     font-family: 'Josefin Sans', sans-serif;
     background-color: rgb(75, 93, 109);
}
.trip-card {
            transition: transform 0.3s;
            margin-bottom: 20px;
        }
        .trip-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        }
        .trip-img {
            height: 200px;
            /* object-fit: cover; */
        }
        .card {
  width: 100%;
}
.card img {
  height: 200px; /* same height for all images */
  object-fit: cover;
}